<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ student.name }} {{ student.family }}</title>
</head>
<body>

    <h1>{{ student.name }} {{ student.family }}</h1>

    <h4>Записаться на курс:</h4>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'practice:choose' student.id  %}" method="post">

        {% csrf_token %}

        {% for course in course_list %}

            <input type="radio" name="course" id="course{{ forloop.counter }}" value="{{ course.id }}" />

            <label for="course{{ forloop.counter }}">{{ course.name }}</label><br />

        {% endfor %}

        <br>
        <input type="submit" value="Select" />

    </form>

</body>
</html>