<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>

    {% load staticfiles %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/cover.css" %}" rel="stylesheet">

</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="{% url "practice:index" %}"><img src="{% static "assets/polis_logo.png" %}"></a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="{% url "practice:index" %}">Вурнуться к списку</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Изменить данные студента</h1>

                <br>

                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="id_name" class="col-sm-4 control-label">Имя</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="id_name" name="name" placeholder="имя" value="{{ student.name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_family" class="col-sm-4 control-label">Фамилия</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="id_family" name="family" placeholder="фамилия" value="{{ student.family }}">
                        </div>
                    </div>

                    <input type="submit" class="btn btn-success" value="Сохранить">
                </form>


            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>by <a href="https://twitter.com/mmishak" target="_blank">@mmishak</a></p>
                </div>
            </div>

        </div>

    </div>

</div>


<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>