<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>

    {% load staticfiles %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/cover.css" %}" rel="stylesheet">

    <style>

        td:hover {
            background: #3a3f44;
            text-decoration-line: none;
        }
    </style>
</head>
<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="{% url "practice:index" %}"><img
                            src="{% static "assets/polis_logo.png" %}"></a></h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li><a href="{% url "practice:index" %}">Вурнуться к списку</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Подтверждение удаления</h1>

                <br>

                <form action="" method="post">
                    {% csrf_token %}
                    <p>Вы действительно хотите удалить студента: {{ student.name }} {{ student.family }}?</p>
                    <input type="submit" class="btn" value="Подтвердить">
                </form>

            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>by <a href="https://twitter.com/mmishak" target="_blank">@mmishak</a></p>
                </div>
            </div>

        </div>

    </div>

</div>


<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
</body>
</html>